 @import url("temas-colores-fuentes.css");

html,body{
   overflow-x: hidden;
  box-sizing: border-box;
}

 #encabezado-principal {
    display: flex;
    font-family: focus-visible;
    justify-content: space-between;
    background-color: yellow;
    align-items: center;
    padding:15px 20px;
    color: #f3dbff;
    align-items: center;
    background: radial-gradient(circle at center, #64178e, #380057);
    color:#fff;
    flex-wrap: wrap;
 }



 #logo {
   width:50px;
   height:50px;
   object-fit: cover;
   border-radius:50%;
}

 .logo-nombre {
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 1.8rem;
  margin: 0;
 }

.acciones{
   display: flex;
   align-items: center;
   gap:10px;
}

 .buscadorr {
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    width: 400px;
    padding: 8px 12px;
     border: none;
     border-radius: 4px;
     outline: none;
     min-width: 180px;
  max-width: 250px;
    background-color: black;
    color: antiquewhite;
    opacity: 0.6;
    border-radius: 15px;
 }



.acciones button{
padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
}


.acciones button:hover {
  background-color: #555;
}


@media screen and (max-width: 768px) {
  #encabezado-principal {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;

    .acciones {
    flex-direction: column;
    width: 100%;
    max-width: 350px;
  }

  .buscadorr,
  #iniciar-sesion,
  #registrar {
    width: 100%;
    margin: 6px 0;
  }
  }
}


 #navegacion-categoria {
    background: radial-gradient(circle at center, black, #a100c2);
    display: flex;
    flex-wrap: wrap;
   align-items: center;
    justify-content: space-around;
    position:sticky;
    top:-2px;
    height: auto;
    z-index:3;
 }

 .tab-categoria {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #f3dbff;
     padding: 10px 20px;
 }


@media (max-width: 768px) {
  .tab-categoria {
    font-size: 18px;
    padding: 8px 10px;
  }

  #navegacion-categoria {
    justify-content: center; /* mejor distribución */
  }
}








 #seccion-categoria {
    color: #f3dbff;
    background-color: radial-gradient(circle, rgba(0, 0, 0, 1) 17%, rgba(13, 13, 13, 1) 75%, rgba(174, 0, 255, 1) 100%);
    min-height: 720px;
    /*720px de base */
    padding: 5px;
    box-sizing: border-box;
   display: flex;
    flex-wrap: wrap; 
    gap: 16px;      
    justify-content: center;
    padding: 10px;
    width: 100%;
      max-width: 1200px; /*importante para responsive, sino no sabe su maximo y queda desprolijo*/
  margin: 10px auto;

 }

 .image-background {
    background: radial-gradient(circle at center, #a100c2, black);
    background-repeat: repeat;

 }


 .item-valor-portada {

   width:100%;
   height:150px;
   object-fit:cover;
   border-radius:6px;
   display:block;
   background-color: #f0f0f0;
 }
 /* .item-valor-nombre{
   font-size: 100px;
 } */

 /* TODO se oculta el texto precio temporalmente */
 .item-campo-personalizado_1 {
    display: none;
 }

 .item-valor-descripcion {
    display: none;
 }

 .item-valor-nombre {
    font-size: 20px;
    color: rgb(6, 230, 6);




 }



 .articulo-categoria {
    background: linear-gradient(202deg, rgba(0, 0, 0, 1) 74%, rgba(174, 0, 255, 1) 100%);
    border: 2px, solid, #380057;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 350px;
    height: 350px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: top;
    position: relative;
    box-shadow:0 1px 3px rgba(0,0,0,.2);
 }


.articulo-categoria img.item-valor-portada {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
}


/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .articulo-categoria {
    flex: 1 1 100%;  /* Los artículos ocupan toda la fila */
    max-width: 100%;
  }
}


/* Opcional: ajustar texto para que no desborde */
.articulo-categoria p, 
.articulo-categoria h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#footer-principal{
   background: red;
}


.footer-container{
   display:flex;
   justify-content: space-between;
   background-color: blue;
}

.footer-section{
   background-color:blue;
   display: flex;
   flex-direction: column;
   
}

#footer-principal-izquierda {
  background-color: #f28b82; /* rojo claro */
  display:flex;
  justify-content: center;
  align-items: center;
}


#footer-principal-centro {
  background-color: #fbbc04; /* amarillo claro */
  width:200px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}


#footer-principal-centro .img{
   background-color: blue;
   width:100px;
   display:flex;
   flex-direction: column;
   justify-content:flex-start;
   align-items: center;
}





#footer-principal-derecha {
  background-color: #34a853; /* verde claro */
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#footer-principal-izquierda,
#footer-principal-centro,
#footer-principal-derecha {
  flex: 1 1 200px; /* Flexible, base de 200px */
}


#footer-principal-izquierda{ 
}


#footer-principal-izquierda h3 {
   background-color:red;
   font-size: 30px;
   font-weight: bold;
   border-bottom:#34a853;
   position:absolute;
   bottom:30px;
}


#footer-principal-izquierda ul{
   background-color:violet;
}

#footer-principal-izquierda ul li{

}

.footer-principal-izquierda-title{
   width:500px;
   background-color: blue;
   display:flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
   position:relative;
   width:300px;
}


 /* .detalle-articulo{
   display: none;
 flex-direction: row;
 background-color: aqua;
} */
 .item-valor-personalizado_1 {
    margin-bottom: 5px;
    background-color: rgb(6, 230, 6);
    color: black;
    font-weight: bold;
    border: 1px solid #a100c2;
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
 }

 .item-valor-rating {
    display: inline-block;
 }

 .item-valor-rating {
    font-size: 20px;
    color: gold;
    cursor: pointer;
    margin-top: 2px;
 }

 #iniciar-sesion {
    background-color: #64178e;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 30px;
    display: inline-block;
 }

 #registrar {
    display: inline-block;
    margin: 10px;

    background-color: #aa91fd;
    border-radius: 30px;
    padding: 10px;

 }

 

 .punto {
/*un backgoun color con radious de 50 asi lo hacemos redondo */
background-color: #aa91fd;
border-radius: 50%;
    position: fixed;
    right: 20px;
    height: 30px;
    width: 30px;
    padding: 3px;
    bottom: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px; 
  color: var(--dark-color-acento-2); 
  cursor: pointer; 
  text-decoration: none; 

 }



.item-valor-portada {
   transition:transform .3s ease;
}

.item-valor-portada:hover{
   transform:scale(1.2);
}







@media screen and (max-width:704px){
   #encabezado-secundario, h1{
      text-align: center;
      font-size:3rem;
   }
}



@media screen and (max-width:800px){
   #logoNombre{
      display:none;
   }
}








@media (max-width:500px){
   #encabezado-secundario h1{
      font-size:16px;
   }
}


@media (max-width:768px){
   #seccion-categoria{

   }
}
