 @import url("temas-colores-fuentes.css");
 @import url('https://fonts.googleapis.com/css2?family=Poppins');
#fondoPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
}
body{
    font-family: Poppins;
}
#caja-iniciar-sesion{
  
    background-color:#8566eb;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.requerimiento{
    margin-top: 15px;
border-radius: 5px;
border: #380057;
background-color: #aa91fd;
padding: 10px;
min-width: 280px;

}
h5{
    margin: 10px;
}
.requerimiento::placeholder{
    color:  aliceblue;

}
#button{ 
    cursor: pointer;
   display: block;
  width: 100%; /* ocupa el mismo ancho que los inputs */
  padding: 10px;
  color: black;
  background-color: #e76eff;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: none;
  text-decoration: none;
}
p{
    text-align: center;
}

.Opcion{
     display: block;        
  text-align: start;     
  color: #380057;
  margin: 10px 0 25px 0;  
  text-decoration: none;
  font-size: 17px;
}
#Registrate{
   color: #380057;
   text-decoration: none;
font-weight: bold;
}
#Registro{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}